.startButton {
  background-color: #f8f9fa;
  border: 1px solid gray;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.details-img {
  height: 32vh;
  object-fit: cover;
  width: 100%;
}

.neutral-button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  height: 55px;
  transition: 0.2s ease-in-out;
  width: 45px;
}
