.header-div {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  background-image: radial-gradient( rgb(250, 250, 250),rgba(41, 41, 41, 0.322));
}

.header-div * {
  margin: 5px;
}

.header-title {
  font-size: 32px;
}

.header-search-btn {
  background: none;
  border: none;
}

.invisible-div {
  flex-shrink: 1;
  width: 6%;
}
