.supply-card-container .supply-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: Verdana , Tahoma , sans-serif;
  justify-content: space-evenly;
}

.supply-card-container .supply-card .title-container {
  background-color: #fc6e51;
  border-radius: 25px;
  color: white;
  margin: 10px;
  text-shadow: -1px -1px 0 orangered , 2px 2px 0 black;
}

.supply-card-container .supply-card .title-container h1, h2, h3 {
  color: white;
  font-family: Verdana , Tahoma , sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align: center;
  text-shadow: -1px -1px 0 orangered , 2px 2px 0 black;
  top: 100%;
  width: 100%;
}

.supply-card-container .supply-card .img-buttons-container {
  margin: 30px 20px;
}

.supply-card-container .supply-card .supply-img {
  border-radius: 25px;
  margin: 15px;
  width: 90%;
}

.supply-card-container .supply-card img {
  width: 100%;
}

.supply-card-container .start-recipe {
  bottom: 0;
  position: fixed;
}

.supply-card-container .supply-card .ingredients-container li, label {
  font-size: 16px;
  list-style: none;
}

.supply-card-container .supply-card .instructions-container p {
  font-size: 16px;
}

.supply-card-container .supply-card .recomendation-container .recomendations-card {
  border: solid 1px black;
  border-radius: 5px;
}
