@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap') ;

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.cardImage {
  max-width: 150px;
}

.selectedCat {
  background-color: grey;
}

.do-row {
  text-decoration: line-through;
}

.details-body {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.details-btn-container {
  display: flex;
  justify-content: center;
}

.img-div {
  width: 100px;
}

.container-carrossel {
  display: flex;
  justify-content: center;
}

.showImgCarrossel {
  display: visible;
}

.hideImgCarrossel {
  display: none;
}

.imageDoneRecipe {
  width: 100%;
}

.main-login {
  display: flex;
  width: 100%;
}

.container-login {
  height: 100%;
  margin-top: 20%;
  max-width: 30%;
}

.flex {
  display: flex;
}

.header-menu {
  font-family: Style Script , cursive;
  justify-content: center;
  margin: 5px;
  text-align: center;
}

.container-recipes {
  overflow: scroll;
  text-align: center;
}
