/*  App */
.background-wheat {
  background-color: wheat;
}

/* Login */
.background-image {
  height: 640px;
  margin: auto;
  background: url("./images/loginBackground.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Tela de Login */

.main-container {
  background-color: rgb(0,0,0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 640px;
  width: 360px;
}

.main-title {
  text-shadow: 5px 1px 1px black;
  color: rgb(255, 123, 0);
  text-align: center;
}

.main-icon {
  display: block;
  margin: 0 auto 6px;
  width: 80px;
}

.login-form {
  align-items: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form input {
  border: none;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
}

.login-form button {
  background-color: rgb(255, 123, 0);
  border: none;
  border-radius: 25px;
  margin: 10px;
  padding: 8px 50px;
}

/* Header */
header {
  background-color: #ff6d00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

header button {
  background-color: #ff6d00;
  border: none;
}

/* SearchBar */
.search-bar-form {
  background-image: linear-gradient(to bottom, #ff6d00, #ff9e00); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.search-bar-form input {
  margin-bottom: 10px;
  border: none;
  border-radius: 25px;
  padding: 10px;
}

.search-bar-form button {
  border: none;
  border-radius: 25px;
  margin: 10px;
  padding: 8px 50px;
}

input.search-bar-radio {
  margin-left: 5px;
  margin-right: 3px;
}

.search-bar-input {
  width: 300px;
}

/* RenderRecipes */
.main-recipe-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 30px;
  align-items: center;
  margin-bottom: 80px;
}

.recipes-card {
  transition: all .2s ease-in-out;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  width: 35vw;
  height: 30vh;
  text-align: center;
  margin: 5px 3px;
  text-decoration: none;
}

.recipes-card p {
  margin: 0;
  color: inherit;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.recipes-card img {
  margin-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  width: 35vw;
  align-self: baseline;
}

/* Footer */

.footer {
  background-color: #ff6d00;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  padding: 10px;
}

/* Category Buttons */
.category-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-navbar button {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 8px 20px;
}

/* RedirectExploreFoodsAndDrinks */

.explore-main-buttons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

navbar .btn-link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-decoration: none;
  width: 100%;
}

.explore-main-buttons-container button {
  border: 1px solid black;
  border-radius: 10px;
  font-size: large;
  padding: 15px 20px;
  width: 80%;
}

/* ExploreButtons */
.explore-buttons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.explore-buttons-container button {
  border: 1px solid black;
  border-radius: 10px;
  font-size: large;
  padding: 15px 20px;
  width: 80%;
}

/* IngredientsDetails */

.ingredients-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 80px;
}

.ingredient-card {
  transition: all .2s ease-in-out;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  width: 35vw;
  height: 30vh;
  text-align: center;
  margin: 5px 3px;
  text-decoration: none;
}

.ingredient-card p {
  margin: 0;
  color: inherit;
}

.ingredient-card img {
  margin-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  width: 35vw;
  align-self: baseline;
}

/* Render Origin */

.explore-origin-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 80px;
}

.area-select {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 12px 20px;
}

/* Perfil */

.profile-main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.profile-main-container .btn-link{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-decoration: none;
  width: 100%;
}

.profile-main-container button {
  border: 1px solid black;
  border-radius: 10px;
  font-size: large;
  padding: 15px 20px;
  width: 80%;
}

.profile-main-container p {
  font-weight: 700;
  font-size: large;
  margin-bottom: 30px;
  text-align: center;
}

.header-details {
  display: flex;
  justify-content: space-around;
}

/* DetalhesComidas */
.details-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  margin-top: 3%;
}

.name-category-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;
}

.copy-favorite-btn-container {
  display: flex;
}

.copy-favorite-btn-container button {
  margin: 0 8px;
  background-color: wheat;
  border: none;
}

.details-ingredients-container {
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  margin: 3%;
  padding: 3%;
  background-color: #d9b382;
}

.details-ingredients-container h3 {
  margin-bottom: 3%;
}

.details-ingredients-container ol {
  line-height: 1.2em;
  margin-left: 10%;
}

.instructions-container {
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  margin: 3%;
  padding: 3%;
  background-color: #d9b382;
}

.instructions-container h3 {
  margin-bottom: 3%;
}

.instructions-container p {
  line-height: 1.2em;
  text-align: justify;
}

.video-container {
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  margin: 3%;
  padding: 3%;
  background-color: #d9b382;
}

.video-container h3 {
  margin-bottom: 3%;
}

.go-to-progress {
  text-align: center;
  background-color: wheat;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  padding: 2%;
}

.go-to-progress button {
  border: 1px solid black;
  font-size: 1.2em;
  padding: 4%;
  width: 100%;
}

.carousel-container {
  border-radius: 5%;
  display: flex;
  margin: 3%;
  margin-bottom: 20%;
  padding: 3%;
  /* background-color: #d9b382; */
}

/* .carousel-content {
  border-radius: 5%;
  display: flex;
  margin: 3%;
  margin-bottom: 20%;
  padding: 3%; 
  background-color: #d9b382;
} */

.carousel-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.carousel-card img {
  border-radius: 4%;
  width: 80%;
}

.recomendation-link {
  text-decoration: none;
}

.recomendation-link p {
  color: black;
  padding-top: 4%;
} 

.recomendation-image {
  border-radius: 5%;
  width: 80%;
}

/* Receitas em progresso */
.progress-recipes {
  margin-bottom: 20%;
}

.details-ingredients-container label {
  margin-right: 10%;
  padding: 1%;
}

.details-ingredients-container input {
  margin-right: 3%;
}

/* Receitas Favoritas */

.filter-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-recipes button {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 8px 20px;
}

.favorite-done-card {
  border-radius: 5%;
  display: flex;
  margin: 3%;
  padding: 3%;
  background-color: #d9b382;
}

.favorite-done-card img {
  border-radius: 5%;
  margin-right: 5%;
  width: 50%;
}

.recipe-info {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  line-height: 2em;
}

.card-link {
  text-decoration: none;
}

.copy-favorite-btn-done-favorite {
  margin-top: 20%;
}

.copy-favorite-btn-done-favorite button {
  margin: 0 8px;
  background-color: #d9b382;
  border: none;
  width: 50px;
}